@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital@1&family=Unbounded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    padding: 2px;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 100px;
}
.topheadlines .right .topnews::-webkit-scrollbar{
    width: 6px;
}
.topheadlines .right .topnews::-webkit ::-webkit-scrollbar-thumb{
background-color: #666;
}
.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    font-family: 'Unbounded', cursive; 
    padding: 10px 15px;
    font-size: xx-large;
    cursor: pointer;
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    
    margin: 0px 10px;
    padding:0px 20px;
}

.nav ul li a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    cursor: pointer;
    letter-spacing: 1px;
       color: rgb(251, 93, 9)

}
.topheadlines{
    padding: 100px 50px 50px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
.topheadlines .left{
    padding: 10px 30px;
    background-color: red;
}
.topheadlines .left > .title{
    font-size: large;
    padding: 15px;
    text-align: center;
}
.topheadlines .left .img{
    cursor: pointer;
    width: 100%;
    height: 400px;
    background-color: violet;
}

.leftcontainer:hover .title-news{
    text-decoration: underline;
}
.title-news{
    pointer-events: none;
}
.topheadlines .left .text{
    cursor: pointer;
    padding: 20px 15px 10px;
} 
.topheadlines .left .text .title-news h2{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}
.topheadlines .left .text .title h2:hover{
    text-decoration:underline;
}
.topheadlines .left .text .description{
    font-size: 15px;
    margin-top: 10px;
    color: ghostwhite;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.topheadlines .right{
    background-color: rgb(255, 131, 64);
    height: 500px;
    width: 100%;
    padding: 10px;
}
.topheadlines .right > .title {
    font-size: 20px;
    padding: 15px;
    text-align: center;

}
.topheadlines .right .topnews{
    padding: 7px;
    height: 85%;
    background-color: #f00;
    border: 1px solid yellow;
    border-radius:4px;
    overflow-y: scroll;
    cursor: pointer;
}
.topheadlines .right .topnews .news{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 10px;
}
.topheadlines .right .topnews .news .img{
    width: 170px;
    height: 120px;
    background-color: #a04;
}
.topheadlines .right .topnews .news .text{
    margin-inline: 10px;
}
.topheadlines .right .topnews .news .text .title{
    cursor: pointer;

}
.rightcontainer{
    display: flex;
}
.rightcontainer:hover .title{
    text-decoration: underline;
}
.page2{
    background-color: #16161d;
    min-height: 100vh;
    padding: 25px 50px;
}
.page2 .news{
    border-bottom: 1px solid yellow;    
    margin-top: 20px;
}

.page2 .news .title h2{
    font-size:40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    display: inline;
}
.page2 .news .title h2:hover {
    text-decoration: underline;
}
 .page2 .news .newsbox{ 
    width: 100%;
    background-color: red;
    margin: 15px 0px;
    display: flex;
}
.page2 .news .newsbox .newscard{
    width: calc(100% / 5 - 20px);
    background-color: #070; 
    cursor: pointer;
    margin: 10px ;
}
.page2 .news .newsbox .newscard .text{
    padding: 10px;
}
.page2 .news .newsbox .newscard .img{
    width: 100%;
    height: 150px;
    background-color: antiquewhite;

}
.page2 .news .newsbox .newscard .text .title p{
    font-size: 15px;
    display: inline;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.page2 .news .newsbox .newscard .text .title p:hover{
    text-decoration: underline;
}
.newscard:hover .title{
    text-decoration: underline;
}
